
/* FONTE MARVEL */
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');


:root {
  --color-purple: #5C49C6;
  --color-purple-dark: #453AA4; 
  --color-background: #EBEAFD;
  --color-orange: #EB633C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 90vw;
    max-width: 500px;
}

@media (min-width: 500px) {
  #page-landing {
    max-width: 100%;
  }
}